<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |message_type, message| %>
<%= message %>
<br>
<br>
<% end %>
<% if logged_in? %>
<%= link_to "Home", '/index' %>
<% end %>
<br>
<br>

<%= yield %>

</body>
</html>
